:root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

.line-example {
  position: relative;
}

.line-example::before{
  content: "";
  position: absolute;
  top: 50%;
  width: 30%;
  height: 0.5px;
  background-color: black;
}
.line-example::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 30%;
  height: 0.5px;
  background-color: black;
}

.line-example::before {
  left: 0;
}

.line-example::after {
  right: 0;
}


.line {
  position: relative;
}

.line::before{
  content: "";
  position: absolute;
  top: 50%;
  width: 45%;
  height: 0.5px;
  background-color: black;
}
.line::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 45%;
  height: 0.5px;
  background-color: black;
}

.line::before {
  left: 0;
}

.line::after {
  right: 0;
}

@media screen and (max-width : 768px){
  .line-example::before{
    width: 27%;
  }
  .line-example::after{
    width: 27%;
  }
  .line::before{
    width: 44%;
  }
  .line::after{
    width: 44%;
  }
}
@media screen and (max-width : 640px){
  .line-example::before{
    width: 24%;
  }
  .line-example::after{
    width: 24%;
  }
  .line::before{
    width: 43%;
  }
  .line::after{
    width: 43%;
  }
}
